@import './colors.scss';

.required-asterisk {
  color: $required-color;
}

.error-text {
  color: $invalid-color;
}

/* Angular ng-cloak. */
/* https://docs.angularjs.org/api/ng/directive/ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

form {
  input.ng-invalid.ng-touched {
    border: 1px solid $invalid-color;
  }

  input.ng-valid.ng-touched {
    border: 1px solid $valid-color;
  }
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}