<div class="login">
  <h3>Sign Up</h3>

  <form name="$ctrl.form"
        ng-submit="$ctrl.submitForm()"
        novalidate
  >
    <span ng-messages="error" role="alert">
      <div class="alert callout"
           ng-message="notValid"
      >
        <p>
          This is not a valid pair email/password
        </p>
      </div>
    </span>

    <label>
      <div>
        <ng-required-label text="'Email'"></ng-required-label>
        <span ng-show="$ctrl.form.$submitted || $ctrl.form.email.$touched">
          <span ng-messages="$ctrl.form.email.$error" role="alert">
            <span ng-message="email" class="error-text">This is not a valid email.</span>
            <span ng-message="required" class="error-text">Tell us your email.</span>
          </span>
        </span>
      </div>

      <input name="email"
             type="email"
             ng-model="$ctrl.user.email"
             required
      />
    </label>

    <label>
      <ng-required-label text="'Password '"></ng-required-label>
      <span ng-show="$ctrl.form.$submitted || $ctrl.form.password.$touched">
        <span ng-messages="$ctrl.form.password.$error" role="alert">
          <span ng-message="required" class="error-text">Setup password.</span>
        </span>
      </span>

      <input name="password"
             type="password"
             ng-model="$ctrl.user.password"
             required/>
    </label>

    <button type="submit" class="button success">Sign Up</button>
  </form>
</div>
