<div class="login">
  <h3>Registration</h3>

  <form name="$ctrl.form"
        ng-submit="$ctrl.submitForm()"
        novalidate
  >
    <label>
      <div>
        <ng-required-label text="'Email'"></ng-required-label>
        <span ng-show="$ctrl.form.$submitted || $ctrl.form.email.$touched">
          <span ng-messages="$ctrl.form.email.$error" role="alert">
            <span ng-message="email" class="error-text">This is not a valid email.</span>
            <span ng-message="required" class="error-text">Tell us your email.</span>
            <span ng-message="emailUnique" class="error-text">This email aready registered.</span>
          </span>
        </span>
      </div>

      <input name="email"
             type="email"
             ng-model="$ctrl.user.email"
             required
      />
    </label>

    <label>
      <ng-required-label text="'Password '"></ng-required-label>
      <span ng-show="$ctrl.form.$submitted || $ctrl.form.password.$touched">
        <span ng-messages="$ctrl.form.password.$error" role="alert">
          <span ng-message="required" class="error-text">Setup password.</span>
        </span>
      </span>
      <input name="password"
             type="password"
             ng-model="$ctrl.user.password"
             required/>
    </label>

    <label>
      <ng-required-label text="'Repeat Password'"></ng-required-label>
      <span ng-show="$ctrl.form.$submitted || $ctrl.form.repassword.$touched">
        <span ng-messages="$ctrl.form.repassword.$error" role="alert">
          <span ng-message="required" class="error-text">Repeat password.</span>
          <span ng-message="equalTo" class="error-text">Passwords are not equal.</span>
        </span>
      </span>
      <input name="repassword"
             type="password"
             ng-model="$ctrl.user.repassword"
             ng-model-options="{ updateOn: 'blur' }"
             ng-should-be-equal-to="form.password.$viewValue"
             required/>
    </label>

    <button
        type="submit"
        class="button success"
        ng-disabled="$ctrl.isSubmitDisabled()"
    >
      Register
    </button>

  </form>
</div>
