<div class="top-bar">

  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Ticket Moll</li>
      <li> <a href="#!/events">Events</a></li>
    </ul>
  </div>

  <div class="top-bar-right" ng-hide="isLoading">

    <ul class="menu" ng-hide="isLoggedIn">
      <li><a href="#!/register" class="button success">Register</a></li>
      <li><a href="#!/login" class="button">Sign Up</a></li>
    </ul>

    <ul class="menu" ng-show="isLoggedIn">
      <li>User: {{ user.email }}</li>
      <li><a href="#!/" class="button" ng-click="logout()">Sign Out</a></li>
    </ul>

  </div>

</div>
