@import "~susy/sass/susy";

$block-background: #eee;
$period-color: #383838;

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list {
  @include container(90%);

  &__item {
    @include container(70%);

    margin-bottom: 70px;

    .head {
      background-color: #ddd;
      padding: .5em 2em;

      .info {
        display: inline-block;

        a {
          color: black;
        }
      }

      .price {
        float: right;
      }

      .period {
        margin-left: 2em;
      }
    }

    .body {
      padding: 1em 2em 3em;
      background-color: $block-background;
    }

    .image {
      float: left;
      margin-right: 1em;
      width: 50%;
    }
  }

}