<div class="list">

  <ul>
    <li ng-repeat="event in $ctrl.events | filter:$ctrl.query | orderBy:$ctrl.orderProp">
      <div class="list__item">

        <section class="head">
          <h4 class="info">
            <a href="#!/events/{{ event.id }}"> {{event.title}} </a>
          </h4>
          <span class="info period">
            {{event.start_date | date: 'd MMM yyyy' }} - {{event.end_date | date: 'd MMM yyyy' }}
          </span>
          <span class="info price">
            Tickets left: {{event.total_tickets}}.
            Buy ticket for ${{event.ticket_price}}
          </span>
        </section>

        <section class="body">

          <div class="image">
            <a href="#!/events/{{ event.id }}">
              <img alt="Event pic" ng-src="{{ event.img_url }}"/>
            </a>
          </div>

          {{event.description}}

        </section>

      </div>
    </li>
  </ul>

</div>
