$block-background: #eee;

.head {
  padding: .5em 2em;

  .info {
    display: inline-block;

    a {
      color: black;
    }
  }

  .price {
    float: right;
  }

  .period {
    margin-left: 2em;
  }
}

.body {
  padding: 1em 2em 3em;
}

.image {
  float: left;
  margin-right: 1em;
  width: 25%;
}