<section class="head">
  <span class="info">
    <h2>{{$ctrl.event.title}}</h2>
  </span>

  <span class="info price">
    Total tickets: {{$ctrl.event.total_tickets}}
    ${{$ctrl.event.ticket_price}}
  </span>

  <span class="info period">
    {{$ctrl.event.start_date | date: 'd MMM yyyy' }} - {{$ctrl.event.end_date | date: 'd MMM yyyy' }}
  </span>
</section>

<section class="body">
  <div class="clearfix">
    <a href="#!/events/{{ $ctrl.event.id }}">
      <img class="image" alt="Event pic" ng-src="{{ $ctrl.event.img_url }}"/>
    </a>

    {{ $ctrl.event.description }}

  </div>

  <div>
    <div ng-repeat="row in [] | range:$ctrl.rows">
      <span ng-repeat="seat in [] | range:$ctrl.seats">
        {{ $index }}
      </span>
    </div>
  </div>
</section>
