{% verbatim %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="static/style.css" />

    <title>Ticket Moll</title>
  </head>

  <body>
    <div ng-app="eventsApp">
      <ng-main-nav></ng-main-nav>
      <div ng-view></div>
    </div>
  </body>

  <script src="static/bundle.js"></script>

</html>

{% endverbatim %}
